.company {
  border-style: dotted;
  border-color: black;
  border-width: 2px;
}

#guest-table {
  display:table;
  position: relative;
  width: 100%;
  top:20px;
  margin-top:20px;
}

#guest-table tr {
  padding: 10px;
}

.guest-menu-items {
  padding: 10px;
}
