#registration-text {
  margin-top: 20px;
}

.registration-form {
  padding:10px;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin-top: 10px;
}

.round-input-type {
  border-radius: 10px;
  padding: 3px;  
}
 
.registration-input {
  width: 100%;
  margin-top:5px;
  margin-bottom:5px;
  border-radius: 10px;
  padding: 5px;
}

.food-preference-container {
  margin-top:10px;
}

.registration-form > select {
  border-radius: 10px;
}

.remove-button {
  position:relative;
  top: 45%;
}

#submit-buttons {
  margin-top: 20px;
}

#not-eating-text {
  margin-right: 10px;
}

#not-eating-line {
  float: left;
}

#is-going-select {
  position: relative;
  left: -10px;
  top: 5px;
}

#is-going-select-xs {
  position: relative;
  left: 15px;
}

#comment {
  margin: 0;
  margin-top: 10px;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
  height: 100px;
}

#cancel-edit-button {
  margin-top: 50px;
}
