@font-face {
  font-family: 'Brotherhood script';
  src: url('/fonts/Brotherhood_Script.ttf');
}

@font-face {
  font-family: 'Libre Caslon Display';
  src: url('/fonts/LibreCaslonDisplay-Regular.ttf');
}

a {
  cursor: pointer;
}

img {
  padding:10px;
  opacity: 2.0 !important;
}

h1 {
  text-align: center;
  font-size: 600%;
  font-family: 'Brotherhood Script', 'Brotherhood Script', serif;
}

h3 {
  text-align: center;
  font-size: 30px;
}

button {
  border-radius: 15px;
}

.remove-menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left:0;
  top:0;
}

#menu-container {
  /* height: 30%;
  position: relative;
  top:0; */
}

#router-view {
  position: absolute;
  display:flex;
  font-size: 18px;
}


/* router-view {
  flex: 1 1 auto;
  overflow:hidden;
  box-sizing: border-box;
} */

.clickable {
  cursor: pointer;
}

.underscore {
  text-decoration: underline;
}

.scroll-container {
  /* height: 100%; */
  /* box-sizing: border-box; */
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 25px;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(110, 110, 110);/*#005a95;*/
}


.page-host-background {
  bottom: 0;
  display: block;
  left: 0px;
  overflow: hidden;
  
  position: relative;
  right: 0;
  /* top: 60px; */
  background-image: url('/../../img/bonderose-sn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.page-host-container{
  padding: 10px;
  background-color: rgb(216, 209, 209);
  opacity: 0.8;
  height: 100vh;
}

#page-host {
  padding: 10px;
  border-style: double;
  border-width: 10px;
  height: 100%;
}

.content-font {
  font-family: 'Libre Caslon Display', 'Libre Caslon Display', serif;
}

.days-left-container {
  position: relative;
  top:-16px;
  font-size: 15px;
}

.menuItem {
  cursor: pointer;
  font-size:20px;
}

.float-menu-item {
  overflow: visible;
  white-space:nowrap;
}

.center-text {
  text-align: center;
}

.center-object {
  margin-left: auto;
  margin-right: auto;
}

#title-container {
  margin: auto;
}

.bottom-of-page {
  bottom: 20px;
  position: absolute;
  width: 100%;
}

.flag {
  width:30px;
  /* height: 40px; */
}

.right-center-text {
  text-align: right;
}

.left-center-text {
  text-align: left;
}

.center-left {
  position: absolute;
  left: 0;
}

.center-right {
  position: absolute;
  right: 0;
}

.hamburger {
  position: absolute;
  top:30px;
  right:40px;
  font-size: 35px;
  padding:5px;
}

#side-menu {
  position: fixed;
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  top: 0;
  left:0;
  /* width: 70%;
  height: 100%;
  top:0px;
  left: 25px; */
  margin:25px;
  background-color: black;
  opacity: 0.8;
  color: white;
}

.side-menu-item {
  margin: 10px;
}
/* 
.side-menu {
  position: relative;
  left: 100vW;
} */

.side-menu-open {
  left: 10%;
}

.side-menu-open {
  left: 100%;
  background-color: black;
}

#sweflag {
  right: -10px;
}

#engflag {
  right: 10px;
}

#dot-between-words {
  position: relative;
  bottom:4px;
  font-size: 4px;
}

@media (max-width: 479px) {
  h1 {
    font-size: 400%;
  }

  .mobile-phone {
  }

  .large-unit {
    display: none;
  }
}

@media (min-width: 479px) {
  .mobile-phone {
    display: none;
  }

  .large-unit {
  }
}

